body {
    background-image: url('/images/auto_pristine/chrome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    color: #00ffcc;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
}

/* Button Styles */
.btn-race {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #ff66b2;
    color: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 20px; /* Adjust margin as needed */
}

.btn-race:hover {
    background-color: #ff3385;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-home:hover {
    background-color: #004080; /* Darker shade on hover */
}