body {
    position: relative;
    background-image: url('/images/auto_pristine/chrome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    color: #FAFAFA; /* White text */
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1; /* Place the overlay behind the content */
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    margin: 10px 0; /* Adjusted margin */
    color: #FCEE09; /* Yellow */
}

p {
    font-size: 1.2em;
    color: #FAFAFA; /* White text */
}

/* Button Styles */
.btn-race,
.btn-home {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 0; /* No rounded corners */
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px; /* Adjusted margin */
}

.btn-race {
    padding: 15px 30px;
    background-color: #FF003C; /* Red */
    color: #FAFAFA; /* White text */
}

.btn-race:hover {
    background-color: #C70023; /* Darker red on hover */
}

.btn-home {
    padding: 10px 20px;
    background-color: #00F0FF; /* Blue */
    color: #FAFAFA; /* White text */
}

.btn-home:hover {
    background-color: #0097A7; /* Darker blue on hover */
}

.development-section {
    text-align: center;
    margin: 20px 0; /* Adjusted margin */
}

.development-section h2 {
    font-size: 2em;
    margin: 10px 0; /* Adjusted margin */
    color: #FCEE09; /* Yellow */
}

.development-section img {
    max-width: 100%;
    height: auto;
    border: 2px solid #00F0FF; /* Blue border for the image */
}
