/* Color Variables */
/* --blue: #0022ffff; */
/* --aerospace-orange: #ff5100ff; */
/* --white: #ffffffff; */
/* --jet: #353238ff; */

body {
    background-image: url('/images/climate_heroes/Micro-White-Grid-Tile.jpg');
    background-repeat: repeat;
    background-size: auto; /* Use the actual size of the image for repetition */
    color: #353238ff; /* Jet text color */
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #ffffff;
    color: #ffffffff; /* White text color for header */
    text-align: center; /* Align header text to the left */
    padding: 20px;
}

h1 {
    color: #ff5100ff; /* Aerospace Orange text color for headers */
    text-align: center; /* Align headers to the left */
    margin-bottom: 20px; /* Adjusted margin */
}

h2 {
    color: #0022ffff; /* Blue text color for subheadings */
    text-align: center; /* Center subheading text */
    margin-bottom: 15px; /* Adjusted margin */
}

p {
    color: #353238ff; /* Jet text color for paragraphs */
    margin-bottom: 15px;
    text-align: center; /* Align paragraphs to the left */
    line-height: 1.6;
}

.image-container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0022ffff; /* Blue text color for section titles */
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video iframe {
    width: 100%;
    max-width: 660px;
    height: 371px;
}

.caption {
    margin-top: 10px;
    text-align: center;
    color: #555;
}

.home-button {
    text-align: center;
    margin-bottom: 20px;
}

.home-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0022ffff; /* Blue background color for home button */
    color: #ff5100ff; /* Aerospace Orange text color for home button */
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-button a:hover {
    background-color: #ff5100ff; /* Aerospace Orange background on hover */
    color: #0022ffff; /* Blue text color on hover */
}
