/* Reset and Basics */
body {
    font-family: 'Exo', sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

/* Heading Styles */
h1 {
    color: #0066cc;
    text-align: center;
    margin-bottom: 20px;
}

/* Subheading Styles */
h2 {
    color: #0066cc;
    text-align: center;
    margin-bottom: 15px;
}

/* Paragraph Styles */
p {
    margin-bottom: 15px;
    text-align: center;
    color: #333;
    line-height: 1.6;
}

/* Image Container Styles */
.image-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

/* Section Title Styles */
.section-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0066cc;
}

/* Video Container Styles */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Video Styles */
.video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Video Iframe Styles */
.video iframe {
    width: 100%;
    max-width: 660px;
    height: 371px;
}

/* Caption Styles */
.caption {
    margin-top: 10px;
    text-align: center;
    color: #555;
}


/* Home Button Styles */
.home-button {
    text-align: center;
    margin-bottom: 20px;
}

.home-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button a:hover {
    background-color: #004080; /* Darker shade on hover */
}
