/* Color Variables */
:root {
    --white: #FFFFFFFF;
    --ultramarine: #0015ffff;
    --night: #121619ff;
    --aerospace-orange: #ff4d00ff;
}

@font-face {
    font-family: 'Syntheti';
    src: url('fonts/syntheti.ttf') format('truetype');
    font-weight: normal;
    font-style: auto;
}

body {
    max-width: 1200px;
    margin: 0;
    background-image: url('/images/index/mars.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Syntheti', sans-serif;
    padding: 30px;
    text-align: left;
    font-size: 30px;
}

header, main, footer {
    background-color: var(--white);
    color: var(--night);
    text-align: left;
    padding: 20px;
}

h1, h2 {
    color: var(--aerospace-orange);
    font-weight: normal;
}

p {
    font-family: 'Exo', sans-serif;
    color: var(--night);
    margin: 20px 0;
}

h3 {
    color: var(--ultramarine);
    font-weight: normal;
}

hr {
    border: 1px solid var(--night);
}

img {
    max-width: 100%;
    border-radius: 20px;
    margin: 20px;
}

a {
    color: var(--ultramarine);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 1px solid var(--ultramarine);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: var(--ultramarine);
    color: var(--aerospace-orange);
}


