/* Color Variables */
:root {
    --white: #EFEFEF;
    --ultramarine: #0015ffff;
    --dark-moss-green: #346312ff;
    --night: #121619ff;
    --amber: #ffc021ff;
    --aerospace-orange: #ff4d00ff;
}

body {
    background-image: url('/images/index/tube.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
}

.header-content {
    width: 70%;
    text-align: center;
}

.header-content h1 {
    color: var(--aerospace-orange);
    font-size: 28px;
}

.header-content p {
    color: var(--night);
    margin: 20px 0;
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--ultramarine);
}

hr {
    border: 1px solid var(--night);
}

img {
    border-radius: 20px;
}

a {
    color: var(--ultramarine);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 1px solid var(--ultramarine);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: var(--ultramarine);
    color: var(--aerospace-orange);
}

footer {
    background-color: var(--white);
    color: var(--night);
    text-align: center;
    padding: 20px;
}

footer a {
    color: var(--ultramarine);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 1px solid var(--ultramarine);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

footer a:hover {
    background-color: var(--ultramarine);
    color: var(--aerospace-orange);
}
