/* Color Variables */
:root {
    --blue: #0022ffff;
    --aerospace-orange: #ff5100ff;
    --white: #ffffffff;
    --jet: #353238ff;
}

body {
    background-color: var(--white);
    color: var(--jet);
    font-family: 'Exo', sans-serif;
    margin: 10px;
    padding: 0;
}

header {
    background-color: var(--white);
    color: var(--jet);
    text-align: left;
    padding: 20px;
}

h1 {
    color: var(--aerospace-orange);
    text-align: left;
}

h2, h3 {
    color: var(--blue);
}

hr {
    border: 1px solid var(--jet);
}

p {
    color: var(--jet);
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

main {
    padding: 20px;
    text-align: left;
}

a {
    color: var(--blue);
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: var(--blue);
    color: var(--aerospace-orange);
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container a {
    background-color: var(--aerospace-orange);
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.button-container a:hover {
    background-color: var(--blue);
    color: var(--aerospace-orange);
}

footer {
    color: var(--jet);
    text-align: left;
    padding: 20px;
}

footer a {
    color: var(--blue);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 1px solid var(--blue);
    transition: background-color 0.3s, color 0.3s;
}

footer a:hover {
    background-color: var(--blue);
    color: var(--aerospace-orange);
}

.home-container {
    padding: 20px;
}

.recipe-box {
    background-color: var(--white);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--blue);
    border-radius: 8px;
}

.recipe-box h2 {
    color: var(--blue);
    margin-bottom: 10px;
}

.recipe-box a {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.3s;
}

.recipe-box a:hover {
    color: var(--aerospace-orange);
}

.recipe-box p {
    margin: 10px 0;
}
